[Unit]
Description=FlagAPI (gunicorn)
After=network.target

[Service]
User=ec2-user
# Diretorio real onde estao app.py / requirements.txt na EC2
WorkingDirectory=/home/ec2-user/postech-flag-api
# Setando a variável APP_ENV para PROD para que o condig entenda o ambiente de Produção
Environment=APP_ENV=PROD
# Garante as dependencias atualizadas a cada (re)start (idempotente).
ExecStartPre=/home/ec2-user/postech-flag-api/venv/bin/pip install -r requirements.txt
# Garante a tabela 'flags' no banco a cada (re)start (CREATE TABLE IF NOT EXISTS, idempotente).
ExecStartPre=/home/ec2-user/postech-flag-api/venv/bin/flask --app app init-db
# Aponta direto para o gunicorn da venv (equivale a "ativar" a venv).
ExecStart=/home/ec2-user/postech-flag-api/venv/bin/gunicorn --bind 0.0.0.0:5000 app:app
Restart=always

[Install]
WantedBy=multi-user.target
